.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
  background-image: url('images/15.jpg');
  background-size: 100% 100%;
}
#slide { 
  transition-property: background-image;
  transition-duration: 0.5s; 
}

.first{
  background-color: rgba(255, 255, 255, .6);
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.card-body:hover{
  background-color: rgb(225,225,225);
  transform: scale(1.1);
}
section h1{
  font-weight: 1500;
}
section p{
  font-size: 150%;
}
#active{
  border-bottom: #ffffff 2px solid;
  margin-bottom: 2%;
}

.btn-secondary{
  background-color: rgba(255,255,255,0.8); 
  color:#000000;
  float:right;
}
.btn-primary{
  background-color: rgba(255,255,255,0.8);
  color:#000000;
  float: left;

}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
